aside {
    min-width: 240px;
    height: 100%;
    background: #ffffff;
    padding: 20px 0 20px 10px;
}
aside .brand {
    margin-bottom: 2rem;
    padding-inline: 20px;
}
aside .brand img {
    width: 150px;
}
aside li {
    color: #fff;
    font-weight: 300;
    padding: 20px;
    position: relative;
}
aside a {
    position: absolute;
    inset: 0;
}
aside li i {
    width: 20px;
    margin-right: 1rem;
}
aside .active {
    color: #858585;
    background-color: #000000;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}